body {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a.delete:hover {
    color: red !important;
}

.message{
    color:green;
}

label.error{
    margin-top: 5px;
    color: #842029;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

form {
    margin-block-end: 1em;
}

table th {
    background-color: #4CAF50 !important;
    color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

table thead th {
    border: 0 solid #ddd;
}

table tbody td {
    border: 0 solid #ddd;
}

table tr:nth-child(even) {
    /*background-color: #f2f2f2;*/
}

table td span.select-tab {
    border-left-width: 7px;
    border-left-style: solid;
    min-width: 0;
    display: block;
    height: 24px;
    margin: 0 0 0 -4px;
    padding: 0;
}

table td span.selected {
    border-left-color: #5cb85c;
}

table td span.unselected {
    border-left-color: #dfdfdf;
}

form label {
    font-weight: bold;
}

#container {
    padding-bottom: 25px;
}

.main-container {
    padding-bottom: 50px;
}

header {
    background: #299be4;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px 3px 0 0;
}

header .btn {
    float: right;
    min-width: 50px;
    outline: none !important;
    margin-top: 10px;
    margin-left: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 50px;
    padding-top: 6px;
    padding-left: 50px;
    padding-right: 50px;
    background: #7abde8;
    color: #ffffff;
}

.footer button {
    margin-right: 15px;
}

#message-alert {
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.alert-success {
    padding: 1rem 135px;
}

.alert-danger {
    padding: 1rem 135px;
}

.modal-alert-danger {
    padding: 10px 35px;
    margin-bottom: 15px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.alert-danger h5 {
    margin-left: -18px;
}

.alert-danger ul {
    margin-left: -2rem;
}

#close {
    top: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #d91515;
    cursor: pointer;
    right: 65px;
    position: absolute;
}

.table-title {
    background: #299be4;
    color: #fff;
    padding: 16px 30px;
    border-radius: 3px 3px 0 0;
}

.table-title .btn {
    float: right;
    min-width: 50px;
    outline: none !important;
    margin-top: 10px;
    margin-left: 10px;
}

.pr-20 {
    padding-right: 20px !important;
}

.show {
    display: block !important;
}

.hide {
    display: none;
}

label.error {
    display: list-item;
}

input.error {
    border: solid 1px red;
}

.profile-dropdown {
    display: none;
    transform: translate3d(-10px, 65px, 0px);
    top: 0;
    right: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #ffffff;
    background-color: #4caf50;
}

.nav-user img {
    height: 32px;
    width: 32px;
}

.dropdown-header h6 {
    font-weight: 700;
    color: #626773;
}

.dropdown-header a span {
    margin-left: 5px;
}


.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}


/*Start Loader*/
.loader {
    position: absolute;
    z-index: 1070;
    top: 50%;
    left: 50%;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*End Loader*/