<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Transfer money Information</title>
    <th:block th:include="layout/head :: head" />
</head>
<body>
    <div class="main-container">
        <header>
            <div class="row">
                <div class="col-sm-6">
                    <h1>Transfer money Information</h1>
                </div>
                <div class="col-sm-6">
                    <ul class="list-unstyled topnav-menu float-right mb-0" style="float: right; margin-top: 5px;">
                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user mr-0" data-toggle="dropdown" href="#">
                                <img src="/assets/images/avatar_1.jpg" alt="user-image" class="rounded-circle">
                                <span class="pro-user-name ml-1">
                                    <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                                <div class="dropdown-header">
                                    <h6 class="text-overflow m-0">Welcome <span th:text="${username}" style="color: #ff9900"></span> !</h6>
                                </div>

                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fa fa-user"></i>
                                    <span>Profile</span>
                                </a>

                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fa fa-cog"></i>
                                    <span>Settings</span>
                                </a>

                                <div class="dropdown-divider"></div>

                                <a href="/logout" class="dropdown-item notify-item logout">
                                    <i class="fa fa-sign-out"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <a href="/customers" class="btn btn-outline-light">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        <span>Customer list</span>
                    </a>
                </div>
            </div>
        </header>
        <div class="box-body">
            <table id="tbListTransfers" class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Sender ID</th>
                        <th class="text-center">Sender Name</th>
                        <th class="text-center">Recipient ID</th>
                        <th class="text-center">Recipient Name</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Time</th>
                        <th class="text-center">Transfer Amount ($)</th>
                        <th class="text-center">Fees (%)</th>
                        <th class="text-center">Fees Amount ($)</th>
                        <th class="text-center">Total Amount ($)</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7"></td>
                        <td class="text-center fw-bold">Total Fees Amount:</td>
                        <td colspan="2" class="text-end fw-bold pr-20" style="font-size: 24px">
                            <span id="spSumFeesAmount"></span>
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="loader"></div>

    <th:block th:include="transfer/temp_list_table :: temp_list_table"/>

    <th:block th:replace="layout/script :: script" />

    <script type="text/javascript" src="/assets/js/app.js"></script>

    <script>
        let page = {
            urls: {
                getAllTransfers: App.BASE_URL_TRANSFER,
                getSumFeesAmount: App.BASE_URL_TRANSFER + "/sum-fees-amount"
            },
            elements: {},
            loadData: {},
            commands: {}
        }

        page.elements.logout = $(".profile-dropdown a.logout");
        page.elements.loader = $(".loader");
        page.elements.tempTransfer = $("#tempTransfer");
        page.elements.frmListTransfer = $("#tbListTransfers tbody");
        page.elements.spSumFeesAmount = $("#spSumFeesAmount");

        let transfer = new TransferFull();
        let tempTransfer = jQuery.validator.format($.trim(page.elements.tempTransfer.val().toString()));

        page.commands.addRow = (index) => {
            page.elements.frmListTransfer.prepend($(tempTransfer(index, transfer.senderId, transfer.senderName, transfer.recipientId, transfer.recipientName, transfer.createdOn, transfer.createdAt, transfer.transferAmount, transfer.fees, transfer.feesAmount, transfer.transactionAmount)));
        }

        page.loadData.getAllTransfers = () => {
            $.ajax({
                type: "GET",
                url: page.urls.getAllTransfers,
            }).done((data) => {

                $.each(data, (index, item) => {
                    transfer = item;
                    transfer.createdOn = moment(transfer.createdOn, "YYYY-MM-DD").format("DD-MM-YYYY");
                    transfer.createdAt = moment(transfer.createdAt, "YYYY-MM-DD HH:mm:ss").format("HH:mm:ss");

                    page.commands.addRow(index + 1);
                });

                $(".num-comma").number(true, 0, ',', ',');

                page.elements.loader.addClass("hide");

            }).fail(function() {
                App.SweetAlert.showErrorAlert(App.AlertMessageEn.ERROR_404);
            }).always(function () {
                page.elements.loader.addClass("hide");
            });
        }

        page.loadData.getSumFeesAmount = () => {
            $.ajax({
                type: "GET",
                url: page.urls.getSumFeesAmount,
            }).done((data) => {
                page.elements.spSumFeesAmount.text(App.formatNumberSpace(data.amount))
            }).fail(function() {
                App.SweetAlert.showErrorAlert(App.AlertMessageEn.ERROR_404);
            });
        }

        page.initializeControlEvent = () => {
            $("a.nav-user").on("click", function (event) {
                event.stopPropagation();
                $(".profile-dropdown").slideToggle(250);
            });

            $(document).on("click", function () {
                $(".profile-dropdown").hide();
            });

            page.elements.logout.on("click", function () {
                $.removeCookie('JWT', { path: '/', domain: location.hostname });
            });
        }

        $(function () {
            page.loadData.getAllTransfers();
            page.loadData.getSumFeesAmount();
            page.initializeControlEvent();
        });
    </script>

</body>
</html>