<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="temp_list_table">
    <textarea id="tempTransfer" style="display:none">
        <tr>
            <td class="text-center">{0}</td>
            <td class="text-center">{1}</td>
            <td class="text-center">{2}</td>
            <td class="text-center">{3}</td>
            <td class="text-center">{4}</td>
            <td class="text-center">{5}</td>
            <td class="text-center">{6}</td>
            <td class="text-end num-comma pr-20">{7}</td>
            <td class="text-center">{8}</td>
            <td class="text-end num-comma pr-20">{9}</td>
            <td class="text-end num-comma pr-20">{10}</td>
        </tr>
    </textarea>
</th:block>