<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    // Sử dụng DNS Prefetch-->
<!--    <link rel="dns-prefetch" href="https://fonts.googleapis.com">-->
<!--    // Sử dụng Preconnect-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>-->
    <link rel="stylesheet" href="/resources/css/bootstrap.css">
    <link rel="stylesheet" href="/resources/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/sweetalert2.min.css">
    <link rel="stylesheet" href="/resources/css/style.css">
    <script type="text/javascript" src="/resources/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/resources/js/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/resources/js/jquery.validate-1.19.3.min.js"></script>
    <script type="text/javascript" src="/resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/resources/js/popper-v1.16.0.min.js"></script>
    <script type="text/javascript" src="/resources/js/jquery.number.js"></script>
</th:block>