<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="script">
    <script type="text/javascript" src="/assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/assets/js/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.validate-1.19.3.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.number.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.cookie-1.4.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/moment.min.js"></script>
</th:block>