<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="footer">
    <textarea id="tempFooter" style="display:none">
        <button type="button" class="btn btn-secondary edit" title="Edit">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Update
        </button>
        <button type="button" class="btn btn-success deposit" title="Deposit">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Deposit
        </button>
        <button type="button" class="btn btn-warning withdraw" title="Withdraw">
            <i class="fa fa-minus" aria-hidden="true"></i>
            Withdraw
        </button>
        <button type="button" class="btn btn-primary transfer" title="Transfer">
            <i class="fa fa-exchange" aria-hidden="true"></i>
            Transfer
        </button>
        <button type="button" class="btn btn-danger deactivate" title="Deactivate">
            <i class="fa fa-ban" aria-hidden="true"></i>
            Deactivate
        </button>
    </textarea>
</th:block>
